$background: rgb(31, 35, 56);
$heading_background: rgb(43, 46, 66);
$panel_background: rgb(41, 45, 65);
$color: rgb(176, 177, 184);
$border_color: rgb(56, 58, 75);

$main_blue: rgb(54, 116, 238);
$dark_blue:$main_blue;
$warning: rgb(244, 107, 66);
$green: rgb(67, 235, 171);
$red: rgb(250, 91, 109);
$some_gray: rgb(176, 176, 176);
$bs-callout-bgc:$border_color;
$bs-callout-brdc-bgc:$some_gray;
$code-bgc:$color;
$code-c:$panel_background;
$tile:$border_color;
$tile-c:$color;

$nav-color:#b0b1b8;

$padding: 30px;

$very_slow_speed: 20.0s;
$slow_speed: 10.0s;
$fast_speed: 3.0s;
$very_fast_speed: 0.5s;

$whoopsy_background: rgb(48, 48, 48);
