<div id="search" class="input-group">
	<span class="close">X</span>
	<input name="search" value="{{ search }}" name="q" type="search" placeholder="{{ text_search }}"/>
  <button type="button" class="btn btn-default btn-lg header-search-button"><i class="fa fa-search"></i></button>
</div>